
    <%if current_user.blank? %>
            <script>
              alert("Lütfen giriş yapınız.")
              location.href="/"
            </script>
            <%else %>
            <center><h1>Yeni Kart</h1></center>

            <%= render 'form', face: @face %>
<center>
<span style="cursor:pointer;vertical-align: bottom;" onclick="location.href='/'" class="btn3 p">
    
    Geri
</span>
</center>
            
 <% end %>

